:root {
    /* color */
    --primary-color: #4786fe;
    --primary-color-2: #52c7e9;
    --primary-color-3: #4d73ff;
    --while-color: #fff;
    --black-color: #000;
    --text-color: #152C47;
}