/* GLOBAL */

 :root {
    --primary-color: #4d73ff;
    --hover-color: #91C8E4;
    --second-color: #0cbcfb;
    --text-color: #ffffff
}

html,
body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 0.5rem;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: rgba(22, 24, 35, 0.1611);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

.heading {
    text-align: center;
    margin-bottom: 3rem;
}

.heading h2 {
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: bold;
    letter-spacing: 0.5px;
}

.heading p {
    text-transform: capitalize;
    letter-spacing: 4px;
    color: black;
    font-size: 1.1rem;
}

@keyframes glowing {
    0% {
        background-color: rgba(0, 0, 0, 0.3);
        transform: translateX(-100%);
    }
    50% {
        background-color: rgba(0, 0, 0, 0.7);
        transform: translateX(0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.3);
        transform: translateX(100%);
    }
}

.heading p::after {
    animation: glowing 2s linear infinite;
}

.heading p::after {
    content: '';
    width: 100px;
    height: 2px;
    background-color: black;
    display: block;
    margin: 20px auto;
}

.heading--white p {
    color: white;
}

.section {
    padding: 5rem 0;
}


/* HEADER */

.header__logo {
    width: 120px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

.header__top {
    background-image: linear-gradient(to right, #4786fe, #52c7e9, #4d73ff);
    font-size: 16px;
}

.header__top a {
    text-decoration: none;
    color: white;
    transition: all 0.5s;
    
}
.header__left a {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-right: 10px;
  }

.header__right a {
    width: 30px;
    height: 30px;
    background-color: black;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin-left: 0.25rem;
}

.header__right a:hover {
    background-color: var(--primary-color);
    border-color: white;
}

.header__left a:hover {
    color: black !important;
}

.navInstruction a {
    color: black;
}

.navInstruction .navbar-brand p:first-child {
    font-size: 36px;
}

.navInstruction .navbar-brand p:first-child i {
    transform: skewX(-10deg);
}

.navInstruction .navbar-brand p:last-child {
    font-size: 11px;
    color: var(--primary-color);
    letter-spacing: 3px;
    font-weight: bold;
}

#navbarInstruction .nav-item {
    margin: 0 15px;
}

#navbarInstruction .nav-item::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    display: block;
    transition: all 0.5s;
}

#navbarInstruction .nav-item:hover::after {
    width: 100%;
}

#navbarInstruction .nav-link {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.5s;
}

#navbarInstruction .nav-item:hover .nav-link {
    color: var(--primary-color);
}

#navbarInstruction .nav-item.active .nav-link {
    color: var(--primary-color);
}

#navbarInstruction .nav-item.active::after {
    width: 100%;
}

#navbarInstruction .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);
}

#navbarInstruction .dropdown-item {
    color: white;
    transition: all 0.5s;
}

#navbarInstruction .dropdown-item:focus,
#navbarInstruction .dropdown-item:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.navInstruction .navbar-toggler {
    color: white;
    background-color: black;
    border-radius: 0px;
}

.navInstruction .navbar-toggler:hover {
    color: white;
    background-color: var(--hover-color);
}

.navInstruction .navbar-toggler:focus {
    outline: none;
}


/* CAROUSEL */

#carouselCyber .carousel-caption {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#carouselCyber .carousel-caption h1 {
    font-size: 100px;
}

#carouselCyber .carousel-caption p {
    font-size: 20px;
    line-height: 1.8em;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 25px;
    font-weight: 300;
}


/* #carouselCyber .carousel-caption button {
    padding: 11px 20px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0;
    letter-spacing: 2px;
    font-size: 14px;
    transition: all 0.5s;
}

#carouselCyber .carousel-caption button:hover {
    background-color: #ffffff;
    color: #0cbcfb;
    border-color: #ffffff;
} */

#carouselCyber .carousel-control-next,
#carouselCyber .carousel-control-prev {
    z-index: 11;
}


/* WELCOME */

.welcome__content>p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.7rem;
    /* 1em = 15px */
    line-height: 1.8em;
    color: #381313;
    letter-spacing: 1px;
    padding: 1rem 0 5rem;
}

.welcome__item h3 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.8rem;
    margin: 1rem 0;
}

.welcome__item h4 {
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 1rem 0 0.2rem;
}

.welcome__item p {
    color: #999;
    font-size: 1rem;
    line-height: 1.8em;
    margin: 10px 0 0;
    letter-spacing: 1px;
}

.welcome__item img {
    width: 70px;
    height: 70px;
}

.welcome__col {
    padding: 2rem;
}


/*TESTIMONIALS */

.shadow-effect {
    background: #fff;
    padding: 20px;
    text-align: center;
    border: 1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.02);
}

#customer-testimonoals .item .shadow-effect img {
    transition: all 0.3s ease-in-out;
}

#customer-testimonoals .item .shadow-effect img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

#customer-testimonoals {
    margin-top: 0;
}

#customer-testimonoals .item .shadow-effect p {
    font-size: 24px;
}

#shadow-effect p {
    font-size: 80px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}

.img-circle {
    vertical-align: middle;
    max-width: 120px;
    transform-style: preserve-3d;
    margin: 0 auto 17px;
}

#customer-testimonoals {
    margin-top: 6%;
}

.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: linear-gradient(135deg, #4786fe, #52c7e9, #4d73ff);
    padding: 9px 35px;
    text-align: center;
    color: #fff;
    box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.12), 0px 5px 7px rgba(0, 0, 0, 0.5);
}

@keyframes jumpAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

#customer-testimonoals .item:hover .testimonial-name {
    animation: jumpAnimation 0.5s;
}

#customer-testimonoals .item {
    text-align: center;
    padding: 50px;
    margin-bottom: 0px;
    opacity: 0.2;
    transform: scale3d(0.8, 0.8, 1);
    transition: all 0.3s ease-in-out;
}

#customer-testimonoals .owl-item.active.center .item {
    opacity: 1;
    transform: scale3d(1.0, 1.0, 1);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--primary-color);
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}

.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
}

.owl-carousel .owl-dots .owl-dot span {
    background: var(--primary-color);
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
}


/* TEAM */

.team {
    background-image: url("../img/background-team.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 70px 0;
}

.team .heading p::after {
    content: '';
    width: 70px;
    height: 2px;
    background-color: white;
    display: block;
    margin: 20px auto;
}

.team h2 {
    color: #ffff;
}

.team__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 80%;
    margin: 0 auto;
    gap: 25px 30px;
}

.team__item img {
    width: 80%;
    display: block;
}

.team__item {
    position: relative;
}

.team__item h3 {
    font-size: 1.3rem;
}

.team__item p {
    font-size: 0.875rem;
    line-height: 28px;
}

.team__title {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    color: white;
    width: 80%;
    padding: 15px;
    opacity: 0.9;
    transition: all .5s;
}

.team__details {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 50px 30px;
    opacity: 0;
    transition: all .5s;
}

.team__item:hover .team__title {
    opacity: 0;
}

.team__item:hover .team__details {
    opacity: 1;
}

.team__details h3 {
    color: var(--second-color);
}

.team__text {
    margin: 8px 0;
}

.team_socials {
    margin-top: 24px;
}

.team_socials i {
    width: 37px;
    height: 37px;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 37px;
    transition: all .5s;
}

.team_socials i:hover {
    color: var(--second-color);
    border-color: var(--second-color);
}

.team__item2 {
    overflow: hidden;
}

.team__item2 .team__details {
    opacity: 1;
    transform: translateX(-100%);
}

.team__item2:hover .team__details {
    transform: translateY(0);
}

.team__item3 {
    overflow: hidden;
}

.team__item3 .team__details {
    opacity: 1;
    transform: translateY(-100%);
}

.team__item3:hover .team__details {
    transform: translateY(0);
}

.team__item4 .team__details {
    opacity: 0;
    transform: rotate(0);
}

.team__item4:hover .team__details {
    transform: rotate(360deg);
}

.team__item5 .team__details {
    opacity: 0;
    transform: scale(0);
}

.team__item5:hover .team__details {
    transform: scale(1);
}

.team__item6 .team__details {
    opacity: 0;
    transform: skew(0)
}

.team__item6:hover .team__details {
    transform: skew(360deg)
}


/* OUR STATS */

.ourStats__content {
    text-align: center;
    color: white;
}

.ourStats__item img {
    width: 100px;
    height: 100px;
}

.ourStats__item h3 {
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 30px 0 20px;
    color: var(--primary-color);
    ;
}

.ourStats__item sup {
    font-size: 2rem;
    top: -30px;
    left: 5px;
    letter-spacing: 2px;
    font-weight: 300;
    color: var(--primary-color);
}

.ourStats__item p {
    font-size: 4rem;
    letter-spacing: 2px;
    font-weight: 300;
    color: var(--primary-color);
}


/* OFFER */

.offer__col {
    padding: 15px;
}

.offer__item {
    padding: 25px 40px;
    box-shadow: 0px 1px 8px 0px rgba(158, 158, 158, 0.75);
    box-shadow: 0 0 5px 5px var(--second-color);
    text-align: center;
    background-color: white;
    transition: all 0.5s;
}

.offer__item:hover {
    background-color: var(--second-color);
}

.offer__item img {
    width: 50px;
    height: 50px;
}

.offer__item h3 {
    color: var(--primary-color);
    margin: 25px 0 20px;
}

.offer__item p {
    color: #6b6b6b;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.offer__item:hover p {
    color: white;
}

.offer__item:hover h3 {
    color: white;
}


/* FEEDBACK */

.feedback {
    background: url("../img/background-feedback.png") center;
    background-attachment: fixed;
    background-size: cover;
}

.feedback h2 {
    color: #ffffff;
}

.feedback .heading p::after {
    content: '';
    width: 70px;
    height: 2px;
    background-color: white;
    display: block;
    margin: 20px auto;
}

.feedback__content {
    box-shadow: 0px 1px 7px #8e8e8e;
    background-color: rgba(0, 0, 0, 0.47);
    padding: 1rem;
}

.feedback__content .item {
    color: white;
    padding: 1rem;
}

.feedback__top {
    padding: 1rem 1.5rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.47);
    position: relative;
}

.feedback__top::after {
    content: '';
    border-top: 9px solid rgba(0, 0, 0, 0.47);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    top: 100%;
    left: 28%;
}

.feedback__top p {
    height: 170px;
    overflow: hidden;
}

.feedback__content .feedback__bottom img {
    width: 28%;
    display: inline-block;
}

.feedback__bottom {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 2rem auto 0;
}

.feedback__bottom img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback__name p {
    margin: 0;
    color: var(--primary-color);
    ;
}

.feedback__name {
    margin-left: 5px;
    margin-top: 15px;
}

.feedback__name i {
    color: yellow;
}

.feedback__name p:first-child {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

.feedback__content .owl-theme .owl-dots .owl-dot span {
    background-color: #ffffff;
    ;
    opacity: 0.5;
}

.feedback__content .owl-theme .owl-dots .owl-dot.active span,
.feedback__content .owl-theme .owl-dots .owl-dot:hover span {
    opacity: 1;
}

.feedback__content .owl-theme .owl-dots .owl-dot:focus {
    outline: none;
}


/* NEWS */

.news__content img {
    border: 2px solid #dedede;
}

.news__content .img2 {
    width: 50%;
    height: 400px;
    margin-left: 215px;
}

.news__content h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.news__content a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    transition: all 0.5s;
    font-size: 1.2em;
}

.news__content a:hover {
    color: var(--primary-color);
    ;
}

.news__content h4 {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--primary-color);
    ;
    margin: 1rem 0;
}

.news__content .row:last-child {
    margin-top: 5rem;
}


/* MODAL */


/* #cyberModal img {
    width: 100%;
}

#cyberModal h5 {
    font-size: 29px;
    color: #ff4f81;
    font-weight: bold;
}

#cyberModal p {
    font-size: 14px;
    color: #777;
    line-height: 1.8em;
    padding: 20px 0;
}

#cyberModal .modal-dialog {
    max-width: 600px;
} */


/* BACKTOTOP */

.backToTop {
    position: fixed;
    right: 50px;
    bottom: 50px;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.backToTop i {
    color: var(--second-color);
    border: 2px solid var(--second-color);
    width: 40px;
    height: 40px;
    font-size: 2rem;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
}


/* FOOTER */

footer {
    background-image: linear-gradient(0, var(--primary-color), #030d9c);
}

.footer__logo {
    max-width: 85%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    margin-top: -60px;
    margin-left: -10px;
}

.footer__top h3 {
    font-size: 24px;
    font-weight: bold;
    color: var(--while-color);
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}

.footer__top p {
    color: var(--while-color);
    font-size: 15px;
    line-height: 2em;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.footer__link,
.footer__contact {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.footer__link i {
    color: var(--while-color);
    margin-right: 1rem;
}

.footer__link a,
.footer__contact a {
    color: var(--while-color);
    text-decoration: none;
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: 1px;
    transition: all 0.5s;
}

.footer__link a:hover,
.footer__contact a:hover {
    color: var(--primary-color-2);
}

.footer__contact i {
    font-size: 1.3rem;
    color: white;
    text-align: center;
    line-height: 32px;
    margin-right: 1rem;
}

.footer__form {
    margin-top: 3rem;
}

.footer__form input {
    padding: 14px;
    border-radius: 0;
    border: none;
    letter-spacing: 1px;
    color: #888888;
    height: auto;
}

.footer__bottom {
    background-color: #0f0f10;
    text-align: center;
    padding: 1rem 0;
    letter-spacing: 1px;
    color: white;
}


/* quick contact */

.quick-contact__input {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    border: 1px solid var(--primary-color-2);
    color: white;
    padding: 12px 18px;
    width: 100%;
    margin-bottom: 5px;
    outline: none;
}

.quick-contact__form {
    display: flex;
}

.quick-contact__button {
    width: 70px;
    height: 43px;
    border: none;
    margin-left: 5px;
    border-radius: 2px;
}

.quick-contact__img {
    width: 80%;
    height: auto;
}


/* Quick-call */

.quick-alo-phone {
    position: fixed;
    display: block;
    bottom: 40px;
    left: 50px;
    background-color: var(--primary-color);
    border-radius: 50%;
    background: linear-gradient(to bottom, var(--primary-color-2), var(--primary-color));
    box-shadow: 1px 5px 7px -2px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    z-index: 999;
}

.quick-alo-phone i {
    font-size: 1.5rem;
    color: var(--while-color);
    display: block;
}

.quick-alo-phone a {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 14px;
    z-index: 1;
    transition-timing-function: ease-out;
    transition: all .2s;
}

.quick-alo__fill {
    position: absolute;
    transform-origin: center;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 0px;
    border-radius: 50px;
    background: radial-gradient(rgba(82, 199, 233, 0.1), rgba(82, 199, 233, 0.5));
    animation: skill5 3s infinite;
    transition-timing-function: ease-out;
    display: block;
    border: 1px solid rgba(71, 134, 254, 0.23);
}

.quick-alo__border {
    position: absolute;
    transform-origin: center;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 0px;
    border-radius: 50px;
    background: radial-gradient(rgba(82, 199, 233, 0.1), rgba(82, 199, 233, 0.5));
    animation: skill6 3s infinite;
    transition-timing-function: ease-out;
    display: block;
    border: 1px solid rgba(71, 134, 254, 0.23);
}

.quick-alo-zalo {
    position: fixed;
    display: block;
    bottom: 150px;
    left: 50px;
    border-radius: 50%;
    box-shadow: 1px 5px 7px -2px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    z-index: 999;
}

.quick-alo-zalo img {
    position: relative;
    display: block;
    height: auto;
    z-index: 999;
}

@keyframes skill5 {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    30% {
        opacity: 0.8;
        transform: scale(1.9);
    }
    60% {
        opacity: 0;
        transform: scale(1.9);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes skill6 {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    36% {
        opacity: 1;
        transform: scale(0);
    }
    66% {
        opacity: 0.8;
        transform: scale(2.0);
    }
    96% {
        opacity: 0;
        transform: scale(2.0);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}


/*********************** RESPONSIVE ************************/

@media screen and (max-width:1199.98px) {
    /* CAROUSEL */
    #carouselCyber .carousel-caption {
        top: 50%;
    }
    #carouselCyber .carousel-caption h1 {
        font-size: 4vw;
    }
    #carouselCyber .carousel-caption p {
        font-size: 1.6vw;
        margin-bottom: 0.5em;
    }
    #carouselCyber .carousel-caption button {
        font-size: 1.5vw;
        padding: 0.8em 1em;
    }
}

@media screen and (max-width:991.98px) {
    /* HEADER */
    .navInstruction .navbar-brand p:first-child {
        font-size: 3vw;
    }
    .navInstruction .navbar-brand p:last-child {
        font-size: 1.5vw;
    }
}

@media screen and (max-width:767.98px) {
    /* HEADER */
    #navbarInstruction .navbar-nav {
        background-color: #eee;
        text-align: center;
    }
    #navbarInstruction .dropdown-menu {
        background-color: #e0e1e2;
        border-color: #e0e1e2;
        text-align: center;
    }
    #navbarInstruction .dropdown-item {
        color: black;
    }
}

@media screen and (max-width:575.98px) {
    /* GLOBAL */
    .heading p {
        padding: 0 15px;
    }
    /* HEADER */
    .header__left a {
        display: block;
    }
    /* FOOTER */
    .footer__form input,
    .footer__form button {
        padding: 10px;
        border: 0;
        font-size: 14px;
    }
}

@media screen and (max-width:415px) {
    /* CAROUSEL */
    #carouselCyber {
        height: 250px;
    }
    #carouselCyber .carousel-inner,
    #carouselCyber .carousel-item,
    #carouselCyber .carousel-item img {
        height: 100%;
    }
    #carouselCyber .carousel-item img {
        object-fit: cover;
    }
}

@media screen and (max-width:376px) {
    .feedback__bottom {
        width: 100%;
    }
}

@media screen and (max-width:320px) {
    /* HEADER */
    .header__right {
        width: 35%;
        text-align: center;
    }
    .header__right a {
        margin-bottom: 5px;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    /* HEADER */
    #navbarInstruction .nav-item {
        margin: 0;
        padding: 0 2px;
    }
    #navbarInstruction .nav-link {
        font-size: 12px;
        padding: 5px;
    }
}


/* Add a media query for screens with a maximum width of 768px */

@media (max-width: 768px) {
    .welcome__content>p {
        font-size: 1.4rem;
        padding-bottom: 2rem;
    }
    .welcome__item h3 {
        font-size: 1.6rem;
    }
    .welcome__item h4 {
        font-size: 1.2rem;
    }
    .welcome__item p {
        font-size: 1rem;
    }
    .welcome__col {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .welcome__content>p {
        font-size: 1.3rem;
        padding-bottom: 1rem;
    }
    .welcome__item h3 {
        font-size: 1.5rem;
    }
    .welcome__item h4 {
        font-size: 1.1rem;
    }
    .welcome__item p {
        font-size: 0.9rem;
    }
    .welcome__col {
        padding: 0.5rem;
    }
}

@media screen and (min-width:575px) and (max-width:992px) {
    .feedback__bottom {
        width: 85%;
    }
}

.news__content .col-xl-7 {
    margin-left: 0;
}

@media (max-width: 991px) {
    .news__content .col-xl-7 {
        width: 100%;
        margin-left: 0;
    }
    .news__content .img2 {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .news__content .row {
        flex-direction: column;
    }
    .news__content .img2 {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .team__content {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .team {
        padding: 30px 0;
    }
    .team__item h3 {
        font-size: 1rem;
    }
    .team__item p {
        font-size: 0.75rem;
        line-height: 24px;
    }
    .team__item img {
        width: 100%;
    }
    .team__title,
    .team__details {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
  .ourStats__item h3 {
    font-size: 1.5rem;
  }

  .ourStats__item sup {
    font-size: 1.5rem;
  }

  .ourStats__item p {
    font-size: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .ourStats__item h3 {
    font-size: 1.2rem;
    margin: 20px 0 10px;
  }

  .ourStats__item sup {
    font-size: 1.2rem;
    top: -20px;
  }

  .ourStats__item p {
    font-size: 2.5rem;
  }
}