/* Lag screen */
@media (min-width: 1024px) {
    .hide-on-lag {
        display: none;
    }
 }

/* Mobile & tablet */

@media (max-width: 1023px) {
   .hide-on-mobile-tablet {
       display: none;
   }
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
       display: none;
    }
    .aboutus-content__reverse {
        flex-direction: column-reverse;
    }
    .aboutus-content__description {
        margin-top: 30px;
        width: 100%;
        padding: 0;
        text-align: center;
    }
}


/* Mobile */

@media (max-width: 739px) {

    .hide-on-mobile {
        display: none;
    }
    .bottom-menu {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        left: 0;
        bottom: 0;
        background-color: var(--while-color);
        border-top: 1px solid #ccc;
        padding: 8px 0;
        z-index: 999;
    }
    .bottom-menu__phone a{
        text-decoration: none;
        display: flex;
        align-items: center;
        background: transparent linear-gradient(180deg, var(--primary-color-2) 0%, var(--primary-color) 100%) 0% 0% no-repeat padding-box !important;
        color: var(--while-color);
        border-radius: 35px;
        padding: 10px 20px;
    }
    .bottom-menu__phone i {
        font-size: 1rem;
        margin-right: 7px;
    }
    .bottom-menu__phone p {
        font-size: 1rem;
        margin: 0;
    }
    .bottom-menu__zalo img{
        width: 40px;
        height: 40px;
    }
    .bottom-menu__messenger {
        width: 40px;
        height: 40px;
    }
    .bottom-menu__profile {
        display: none;

    }
    .bottom-menu__profile i {
        font-size: 2.2rem;
        color: var(--primary-color);
    }
    .contact-page__form {
        margin-top: 20px;
    }
    .welcome__content p {
        font-size: 1.2rem;
    }
    .header__left {
        width: 45%;
        margin-right: 20px;
    }
    .header__left a{
        display: flex;
        align-items: center;
    }
    .header__left p {
        margin: 0;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }
    .heading h2 {
        font-size: 1.6rem;
    }
    .footer__logo {
        width: 100%;
        margin: -60px auto 0 auto;
        display: flex;
        justify-content: center;
    }
    .footer__bottom {
        margin-bottom: 61px;
    }
    .aboutus-content__reverse {
        flex-direction: column-reverse;
    }
    .aboutus-content__description {
        margin-top: 30px;
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .content {
        
    }
    
    .content .item {
        
    }
    
    .content .h1_text {
        text-align: center;
    }
    .content p {
        text-align: center;
    }
    
    .content__icon {
        display: flex;
        justify-content: center;
    }
    .content img {
        
    }
}

/*  */