
.content {
  display: flex;
  align-items: center;
}

.content .item {
  flex-direction: column;
  align-items: center;
  /* margin-left: 100px; */
}

.content p {
  font-size: 18px;
  flex-wrap: wrap;
}

.content__icon {
}
.content img {
  width: 100px;
  height: 100px;
}


hr {
  border: none;
  border-top: 1px solid black;
  margin: 20px 0; /* Khoảng cách giữa dấu gạch ngang và nội dung trên dưới */
}
  